<div class="hero nav aboutnav">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns hero-content">
      <div class="site-nav">
        <h3><a href="/about">About Us</a></h3>
        <h3><a href="/">Home</a></h3>
      </div><!-- .sections -->
      <div class="contact">
        <a href="mailto:xanister@hotmail.com">xanister@hotmail.com</a>
        <p>910.616.3345</p>
      </div><!-- .contact -->
      <div class="social">
        <a href="https://twitter.com/justinalcon" target="_blank" class="circle-link"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/justinalcon" target="_blank" class="circle-link"><i class="fa fa-facebook"></i></a>
        <a href="http://justinalcon.tumblr.com/" target="_blank" class="circle-link"><i class="fa fa-tumblr"></i></a>
        <a href="www.linkedin.com/in/justinalcon/" target="_blank" class="circle-link"><i class="fa fa-linkedin"></i></a>
        <a href="mailto:xanister@hotmail.com" class="circle-link"><i class="fa fa-envelope-o"></i></a>
      </div><!-- social -->
    </div><!-- hero-content -->
  </div><!-- row -->
</div><!-- hero nav -->