<a href='http://docs.anslemgalaxy.com'>DOCS</a>
<a href='http://client.anslemgalaxy.com'>PROD</a>
<a href='http://devclient1.anslemgalaxy.com'>DEV CLIENT 1</a>
<a href='http://devclient2.anslemgalaxy.com'>DEV CLIENT 2</a>

<br /><br />

<a href='http://www.pixijs.com/resources/' target="_blank">pixi.js resources</a>
<a href='http://yui.github.io/yuidoc/syntax/' target="_blank">YUIDoc Syntax Reference</a>
