<style>
  body{
    text-align: center;
  }
  a{
    display: inline-block;
    margin: 10px;
    padding: 10px;

    color: white;
    font-size: 30px;
    font-family: arial;
    text-decoration: none;

    border: 1px solid gray;
    border-radius: 5px;

    background-color: navy;
  }
</style>

<a href='http://docs.anslemgalaxy.com'>DOCS</a>
<a href='http://client.anslemgalaxy.com'>PROD</a>
<a href='http://devclient1.anslemgalaxy.com'>DEV CLIENT 1</a>
<a href='http://devclient2.anslemgalaxy.com'>DEV CLIENT 2</a>

<br /><br />

<a href='http://www.pixijs.com/resources/' target="_blank">pixi.js resources</a>
<a href='http://yui.github.io/yuidoc/syntax/' target="_blank">YUIDic Syntax Reference</a>
