<div id="name" class="player-form hidden">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns text-center">Name Your Player</div>
      <div class="small-12 medium-6 large-6 columns text-center"><input id="name-input" type="text"></div>
    </div>
    <div class="row">
      <div class="submit-button small-5 medium-3 large-2 columns text-center hidden" id="create-player">CREATE</div>
      <div class="submit-button small-5 medium-3 large-2 columns text-center" id="name-back">BACK</div>
    </div>
</div>