<div id="traits">
  <div class="row">
    <div class="small-12 medium-6 large-6 columns text-center">Mental</div>
    <div class="small-12 medium-6 large-6 columns text-center"><input id="mental" type="number" max="75" min="0"></div>
    <div class="small-12 medium-6 large-6 columns text-center">Physical</div>
    <div class="small-12 medium-6 large-6 columns text-center"><input id="physical" type="number" max="75" min="0">
    </div>
    <div class="small-12 medium-6 large-6 columns text-center">Social</div>
    <div class="small-12 medium-6 large-6 columns text-center"><input id="social" type="number" max="75" min="0"></div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 large-6 columns text-center" id="traits-next">NEXT</div>
  </div>
</div>