// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

body {
  width: 100%;
  margin: 0;
  padding: 32px 0 0 0;

  position: relative;

  font-family: arial;
}

/* SASS Mixins */
@mixin hoverTransitions {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@mixin slowHoverTransitions {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

$dragon_gray: #3d2f1e;
$blue_dress: #2b4e69;
$blonde: #ced0c6;
$stone: #b38460;

#site-nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border-top: 2px solid $blue_dress;
  height: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100000;
  width: 100%;

  .brand-logo {
    line-height: 100px;
  }

  .nav-menu {
    * {
      opacity: 1;
    }
    &.enabled {
      color: #2b4e69;

      &:hover {
        color: #2b4e69;
      }
    }
    @include hoverTransitions;
    color: #e0e0e0;
    line-height: 100px;

    &:hover {
      cursor: pointer;
      color: #333;
    }
  }

  .button-group {
    margin-top: 16px;
  }
}

body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Uni-Sans-SemiBold';
}

/* Buttons */
/* Transparent White */
.white-button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: white;
  transition: background-color 300ms ease-out;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  font-family: 'Uni-Sans-Light';
  font-size: 1.15em;
  padding: .5rem 1.2rem .5rem;
}

.white-button:hover, .white-button:focus {
  background-color: #007095;
}

.white-button:hover, .white-button:focus {
  color: white;
}

.white-button:hover {
  background-color: #000;
}

a.circle-link {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  color: #ccc;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 32px;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  text-indent: 1px;
}

a.circle-link:hover {
  color: #333;
  border-color: #333;
}

#site-nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border-top: 2px solid #2b4e69;
  height: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100000;
  width: 100%;
}

#site-nav .brand-logo {
  line-height: 100px;
}

#site-nav .nav-menu {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #e0e0e0;
  line-height: 100px;
}

#site-nav .nav-menu * {
  opacity: 1;
}

#site-nav .nav-menu.enabled {
  color: #2b4e69;
}

#site-nav .nav-menu.enabled:hover {
  color: #2b4e69;
}

#site-nav .nav-menu:hover {
  cursor: pointer;
  color: #333;
}

#site-nav .button-group {
  margin-top: 16px;
}

#site-content {
  /* As high a padding on the top as the nav is tall. */
  padding-top: 100px;
}

.signin-button, .signup-menu {
  border: 1px solid;
  margin-top: 29px;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;

}

.signin-menu:hover {
  background: #D2D4CD;
}

.signup-and-in {
  color: white;
  font-family: 'Uni-Sans-Light';
}

.signup-and-in h2 {
  color: white;
}

/* Heroes */
.top-heroes {
  position: relative;
  height: 615px;
}

.top-heroes .hero {
  position: absolute;
  height: inherit;
  width: inherit;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.top-heroes .hero.masked {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.top-heroes .hero.intro {
  background: black url("../img/bg_hero_video-intro.jpg");
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 480px) {
  .top-heroes .hero.intro {
    background: #000;
  }
}

.top-heroes .hero.intro .hero-video {
  position: relative;
  height: 615px;
  overflow: hidden;
  text-align: center;
}

.top-heroes .hero.intro .hero-video .video-intro {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.top-heroes .hero.intro .hero-video .video-intro .hero-content h2 {
  font-family: 'Uni-Sans-Bold';
  color: #fff;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin-bottom: 0;
  line-height: 4rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.top-heroes .hero.intro .hero-video .video-intro .hero-content h4 {
  font-family: 'Uni-Sans-Book';
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 40.063em) {
  .top-heroes .hero.intro .hero-video .video-intro .hero-content {
    margin-top: 160px;
  }
}

@media only screen and (max-width: 40em) {
  .top-heroes .hero.intro .hero-video .video-intro .hero-content {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 40.063em) {
  .top-heroes .hero.intro .hero-video h3 {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 40em) {
  .top-heroes .hero.intro .hero-video h3 {
    text-align: left;
    margin-top: 20px;
  }
}

.top-heroes .hero.intro .hero-video #hero-video-player {
  display: none;
  opacity: .5;
}

@media (min-width: 480px) {
  .top-heroes .hero.intro .hero-video #hero-video-player {
    display: block;
    position: absolute;
    top: -5%;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 1300px;
  }
}

.top-heroes .hero.intro h3 {
  color: #fff;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
}

.top-heroes .hero.intro hr {
  margin: auto;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 150px;
}

.top-heroes .hero.intro p {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #fff;
  font-weight: 100;
}

.top-heroes .hero.intro .white-button {
  margin-top: 20px;
}

.top-heroes .hero.video-reel {
  background: #000;
  width: 100%;
  padding-top: 50px;
  display: none;
}

.top-heroes .hero.video-reel .reel-container {
  width: 853px;
  margin: auto;
}

.top-heroes .hero.nav {
  top: -700px;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.top-heroes .hero.nav.enabled {
  top: 0;
}

.top-heroes .hero.nav > .row,
.top-heroes .hero.nav .hero-content {
  height: inherit;
}

.top-heroes .hero.nav .site-nav {
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 70px;
}

.top-heroes .hero.nav .site-nav h3 {
  font-family: 'Uni-Sans-Light';
  font-size: 3.4rem;
  line-height: 2.8rem;
  margin-bottom: 40px;
}

.top-heroes .hero.nav .site-nav h3 a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
}

.top-heroes .hero.nav .site-nav h3 a:hover {
  color: #2b4e69;
}

@media only screen and (max-width: 40em) {
  .top-heroes .hero.nav .site-nav h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
  }
}

.top-heroes .hero.nav .contact {
  font-family: 'Uni-Sans-Light';
  margin-top: 100px;
  text-transform: uppercase;
}

.top-heroes .hero.nav .contact * {
  color: #fff;
}

.top-heroes .hero.nav .contact a {
  font-size: 1.4rem;
  text-decoration: underline;
}

.top-heroes .hero.nav .social {
  position: absolute;
  bottom: 40px;
}

.top-heroes .hero.nav .social a {
  border-color: #efefef;
  color: #efefef;
  opacity: .4;
}

.top-heroes .hero.nav .social a:hover {
  opacity: 1;
}

.top-heroes .hero.about {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.top-heroes .hero.about .showcase-slider {
  position: absolute;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  background: url("../img/bg_about_hero-showcase.jpg") top center;
  height: 1000px;
  width: 100%;
}

.top-heroes .hero.about .showcase-slider.completed {
  margin-top: -1000px;
}

.top-heroes .hero.about .gradient-mask {
  position: absolute;
  z-index: 100;
  height: 100px;
  width: 100%;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}

.top-heroes .hero.about .about-intro {
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 500px;
}

.top-heroes .hero.about .about-intro.activated {
  opacity: 1;
  background: url("/assets/background-dragon.png") center 60px no-repeat;
}

.top-heroes .hero.about p {
  font-family: 'Uni-Sans-Regular';
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #2b4e69;
  margin-top: 160px;
}

/* Heroes - Media Queries */
@media only screen and (max-width: 40em) {
  .top-heroes {
    height: 440px;
  }
  .top-heroes .hero.about {
    height: 480px;
  }
  .top-heroes .hero.about p {
    font-family: 'Uni-Sans-Regular';
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: #2b4e69;
    margin-top: 20px;
  }
}

body.terms-of-use .nav-menu,
body.privacy-policy .nav-menu {
  opacity: 0;
}

body.terms-of-use .nav-menu:hover,
body.privacy-policy .nav-menu:hover {
  cursor: default !important;
}

body.terms-of-use #site-content,
body.privacy-policy #site-content {
  padding-top: 120px;
}

body.error-404 #site-nav {
  display: none;
}

body.error-404 #site-footer {
  display: none;
}

#site-footer {
  margin-top: 40px;
  margin-bottom: 40px;
}

#site-footer h4.copyright-info {
  font-family: 'Open Sans';
  margin-top: 40px;
  font-weight: 400;
  color: #ccc;
  font-size: .6rem;
}

#site-footer h4.copyright-info a {
  color: #ccc;
  text-decoration: underline;
}

@media only screen and (max-width: 40em) {
  #site-footer .logo-column {
    margin-bottom: 20px;
    text-align: center;
  }
}

#site-footer .social-links-column {
  text-align: right;
}

@media only screen and (max-width: 40em) {
  #site-footer .social-links-column {
    text-align: center;
  }
}

.hidden {
  display: none;
}
