body.home .props {
  padding: 44px 0;
}

body.home .props h4 {
  text-transform: uppercase;
  margin-top: 24px;
  font-size: 1.2rem;
  margin-bottom: 0;
}

body.home .sign-up {
  background-color: #333;
  padding: 30px 0 10px 0;
}

body.home .sign-up h3 {
  text-transform: uppercase;
  line-height: 2.2rem;
  margin-right: 20px;
}

body.home .sign-up * {
  color: #efefef;
}

body.home .showcase .owl-slides {
  position: relative;
  height: 600px;
  background-color: #efefef;
}

@media only screen and (max-width: 40em) {
  body.home .showcase .owl-slides {
    height: 400px;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  body.home .showcase .owl-slides {
    height: 540px;
  }
}

body.home .showcase .owl-slides .showcase-slide {
  opacity: 0;
  position: absolute;
  height: inherit;
  width: 100%;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
}

body.home .showcase .owl-slides .showcase-slide.owl-active {
  opacity: 1;
  z-index: 10000;
}

body.home .showcase .owl-slides .showcase-slide .background-mask {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute;
  height: inherit;
  width: 100%;
  opacity: 0;
}

body.home .showcase .owl-slides .showcase-slide .slide-detail-copy {
  margin-top: 80px;
}

@media only screen and (max-width: 40em) {
  body.home .showcase .owl-slides .showcase-slide .slide-detail-copy {
    margin-top: 20px;
  }
  body.home .showcase .owl-slides .showcase-slide .background-mask {
    opacity: .8;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  body.home .showcase .owl-slides .showcase-slide .slide-detail-copy {
    margin-top: 80px;
  }
  body.home .showcase .owl-slides .showcase-slide .background-mask {
    opacity: .7;
  }
}

body.home .showcase .owl-slides .showcase-slide .slide-detail-copy h3, body.home .showcase .owl-slides .showcase-slide .slide-detail-copy p {
  color: #fff;
}

body.home .showcase .owl-slides .showcase-slide .slide-detail-copy h3 {
  font-family: 'Helvetica';
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1.1em;
  margin: 80px 0 20px;
}

body.home .showcase .owl-slides .showcase-slide .slide-detail-copy p {
  margin-bottom: 20px;
  font-size: .9rem;
}

body.home .showcase .owl-slides .showcase-slide .slide-detail-copy .slide-title-asset {
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

body.home .showcase .owl-slides .showcase-slide .slide-detail-title-container {
  position: relative;
  margin-bottom: 20px;
  height: 120px;
}

body.home .showcase .owl-slides .showcase-slide .slide-detail-title-image {
  position: absolute;
  bottom: 0;
  max-height: 120px;
}

body.home .showcase .owl-slides .showcase-slide#internets-own-boy {
  background-color: #000;
  background-image: url("../img/carousel/carousel_home_bg_internets-own-boy.jpg");
}

body.home .showcase .owl-slides .showcase-slide#internets-own-boy .background-mask {
  background-color: #000;
}

body.home .showcase .owl-slides .showcase-slide#exit-through-the-gift-shop {
  background-color: #FFFFFF;
  background-image: url("../img/carousel/carousel_home_bg_exit-through-the-gift-shop.jpg");
}

body.home .showcase .owl-slides .showcase-slide#exit-through-the-gift-shop .background-mask {
  background-color: #fff;
}

body.home .showcase .owl-slides .showcase-slide#exit-through-the-gift-shop .slide-detail-copy p {
  color: #333;
}

body.home .showcase .owl-slides .showcase-slide#exit-through-the-gift-shop .slide-detail-copy .white-button {
  color: #333;
  border-color: #333;
}

body.home .showcase .owl-slides .showcase-slide#someone-marry-barry {
  background-color: #FFD800;
  background-image: url("../img/carousel/carousel_home_bg_someone-marry-barry.jpg");
}

body.home .showcase .owl-slides .showcase-slide#someone-marry-barry .background-mask {
  background-color: #FFD800;
}

body.home .showcase .owl-slides .showcase-slide#burts-buzz {
  background-color: #FDE05F;
  background-image: url("../img/carousel/carousel_home_bg_burts-buzz.jpg");
}

body.home .showcase .owl-slides .showcase-slide#burts-buzz .background-mask {
  background-color: #FDE05F;
}

body.home .showcase .owl-slides .showcase-slide#artifact {
  background-color: #000;
  background-image: url("../img/carousel/carousel_home_bg_artifact.jpg");
}

body.home .showcase .owl-slides .showcase-slide#artifact .background-mask {
  background-color: #000;
}

body.home .showcase .owl-slides .showcase-slide#senna {
  background-color: #FFD800;
  background-image: url("../img/carousel/carousel_home_bg_senna.jpg");
}

body.home .showcase .owl-slides .showcase-slide#senna .background-mask {
  background-color: #FFD800;
}

body.home .showcase .owl-slides .showcase-slide#coffeetown {
  background-color: #B7E0DA;
  background-image: url("../img/carousel/carousel_home_bg_coffeetown.jpg");
}

body.home .showcase .owl-slides .showcase-slide#coffeetown .background-mask {
  background-color: #B7E0DA;
}

body.home .showcase .owl-slides .showcase-slide#knuckleball {
  background-color: #09211E;
  background-image: url("../img/carousel/carousel_home_bg_knuckleball.jpg");
}

body.home .showcase .owl-slides .showcase-slide#knuckleball .background-mask {
  background-color: #09211E;
}

body.home .showcase .owl-slides .showcase-slide#the-battery {
  background-color: #000000;
  background-image: url("../img/carousel/carousel_home_bg_the-battery.jpg");
}

body.home .showcase .owl-slides .showcase-slide#the-battery .background-mask {
  background-color: #000000;
}

body.home .showcase .owl-slides .showcase-slide#the-house-i-live-in {
  background-color: #787573;
  background-image: url("../img/carousel/carousel_home_bg_the-house-i-live-in.jpg");
}

body.home .showcase .owl-slides .showcase-slide#the-house-i-live-in .background-mask {
  background-color: #787573;
}

body.home .showcase .owl-slides .showcase-slide#red-obsession {
  background-color: #000000;
  background-image: url("../img/carousel/carousel_home_bg_red-obsession.jpg");
}

body.home .showcase .owl-slides .showcase-slide#red-obsession .background-mask {
  background-color: #000000;
}

body.home .showcase .owl-slides .showcase-slide#escape-from-tomorrow {
  background-color: #E89F00;
  background-image: url("../img/carousel/carousel_home_bg_escape-from-tomorrow.jpg");
}

body.home .showcase .owl-slides .showcase-slide#escape-from-tomorrow .background-mask {
  background-color: #E89F00;
}

body.home .showcase .owl-slides .showcase-slide.playing-video .background-mask {
  background-color: #000 !important;
  opacity: .8;
}

body.home .showcase .owl-slides .showcase-slide.playing-video .slide-detail-copy {
  display: none;
}

body.home .showcase .owl-slides .showcase-slide.playing-video .reel-container {
  margin: auto;
  margin-top: 25px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}

body.home .showcase .owl-carousel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #222222 url("../img/bg_home_carousel-nav.png");
  position: relative;
  height: 170px;
  line-height: 170px;
  vertical-align: middle;
}

body.home .showcase .owl-carousel .owl-item {
  line-height: 170px;
  height: 170px;
  vertical-align: middle;
}

body.home .showcase .owl-carousel .owl-item.center {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

body.home .showcase .owl-carousel .film-title {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  height: 100%;
  margin: 0 20px;
  opacity: .2;
  line-height: 170px;
  font-weight: 800;
  vertical-align: middle;
}

body.home .showcase .owl-carousel .film-title img {
  display: inline-block;
  vertical-align: middle;
}

body.home .showcase .owl-carousel .center .film-title {
  opacity: 1;
}

body.home .showcase .owl-carousel .owl-controls {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
}

body.home .showcase .owl-carousel .owl-controls * {
  font-weight: 800;
}

body.home .showcase .owl-carousel .owl-prev {
  left: 30px;
}

body.home .showcase .owl-carousel .owl-next {
  right: 30px;
}

body.home .showcase .owl-carousel .owl-next, body.home .showcase .owl-carousel .owl-prev {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute;
  color: #fff;
  z-index: 10000;
  opacity: .6;
  width: 40px;
  height: 90px;
  top: 25px;
  font-size: 1.5rem;
  font-weight: 800;
}

body.home .showcase .owl-carousel .owl-next:hover, body.home .showcase .owl-carousel .owl-prev:hover {
  opacity: 1;
  cursor: pointer;
  text-shadow: 1px 1px 10px #fff;
}

@mixin hoverTransitions {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.showcase-slide {
  opacity: 0;
  position: absolute;
  height: inherit;
  width: 100%;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  &.owl-active {
    opacity: 1;
    z-index: 10000;
  }
  .background-mask {
    @include hoverTransitions;
    position: absolute;
    height: inherit;
    width: 100%;
    opacity: 0;
  }
  .slide-detail-copy {
    margin-top: 80px;
  }
  .slide-detail-copy {
    h3, p {
      color: #fff;
    }
    h3 {
      font-family: 'Helvetica';
      font-size: 3em;
      text-transform: uppercase;
      line-height: 1.1em;
      margin: 80px 0 20px;
    }
    p {
      margin-bottom: 20px;
      font-size: .9rem;
    }
    .slide-title-asset {
      background-repeat: no-repeat;
      margin-bottom: 40px;
    }
  }
  .slide-detail-title-container {
    position: relative;
    margin-bottom: 20px;
    height: 120px;
  }
  .slide-detail-title-image {
    position: absolute;
    bottom: 0;
    max-height: 120px;
  }
  .background-mask {
    background-color: #fff;
  }
  .slide-detail-copy {
    p {
      color: #333;
    }
    .white-button {
      color: #333;
      border-color: #333;
    }
  }
}

#ss-1 {
  background-color: #FFD800;
  background-image: url('/assets/carousel_ss_1.png');
  .background-mask {
    background-color: #FFD800;
  }
}

#ss-2 {
  background-color: #FFD800;
  background-image: url('/assets/carousel_ss_2.png');
  .background-mask {
    background-color: #FFD800;
  }
}

.slide-detail-copy {
  display: none;
}

.reel-container {
  margin: auto;
  margin-top: 25px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}

.owl-carousel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #222;
  position: relative;
  height: 170px;
  line-height: 170px;
  vertical-align: middle;
  .owl-item {
    line-height: 170px;
    height: 170px;
    vertical-align: middle;
    &.center {
      background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%); /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
      background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    }
  }
  .slide-title {
    @include hoverTransitions;
    height: 100%;
    margin: 0 20px;
    opacity: .2;
    line-height: 170px;
    font-weight: 800;
    vertical-align: middle;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .center .slide-title {
    opacity: 1;
  }
  .owl-controls {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    * {
      font-weight: 800;
    }
  }
  .owl-prev {
    left: 30px;
  }
  .owl-next {
    right: 30px;
  }
  .owl-next, .owl-prev {
    @include hoverTransitions;
    position: absolute;
    color: #fff;
    z-index: 10000;
    opacity: .6;
    width: 40px;
    height: 90px;
    top: 25px;
    font-size: 1.5rem;
    font-weight: 800;
    &:hover {
      opacity: 1;
      cursor: pointer;
      text-shadow: 1px 1px 10px #fff;
    }
  }
}


/* .body.home */